SMARTRR_API_TOKEN=EuXFEXcdAJTc0AcjwJAdjguAwuuFaswugTsc
SMARTRR_API_BASE=https://api.smartrr.com
SMARTRR_SHOP=equestrian-labs.myshopify.com
SMARTRR_SUBSCRIPTIONS_ENDPOINT=/subscriptions
REPORT_YEAR=2026
